a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: var(--white);
}

.he-sub-title {
  font-weight: 900 !important;
}


.he-nav-label{
  position: absolute;
  white-space: nowrap;
  left: 50px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.he-nav-link {
  writing-mode: vertical-lr;
  padding-bottom: calc(var(--nav-padding) - 0.6em);
}

.left .he-nav-link {
  transform: rotate(180deg);
}

.he-drop-spacer {
  transition: transform 0.3s ease-out;
  transform-origin: center left;
  transform: scaleX(1)
}

.he-drop-link:hover .he-drop-spacer {
  transform: scaleX(3)
}

.he-nav-wrap {
  pointer-events: none;
}

.he-nav-wrap a {
  pointer-events: all;
}

.he-canvas {
  width: 100%;
  height: calc(100 * var(--vh, 1vh));
  pointer-events: none;
}

#canvas-visor {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 9;
}

.about-overflow {
  overflow: hidden;
  width: 100vw;
  height: calc(100 * var(--vh, 1vh));
  position: fixed;
  right: 0;
  top: 0px;
}

#canvas-about {
  width: var(--about-cvs-w);
  left: 0;
  filter: brightness(var(--cvs-bright))
}

#canvas-projects {
  left: 0;
  top: 0;
  position: fixed;
  opacity: 0;
}

#logo {
  position: relative;
  width: 24px;
  height: 64px;
}

.he-lottie-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}


.he-intro-wrap{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100 * var(--vh, 1vh));
  padding: var(--content-padding-y) var(--content-padding-x);
}

.he-intro-wrap p{
  margin-bottom: 15px;
  text-align: center;
  font-size: var(--intro-title-fntsize);
  letter-spacing: 0.08em;
  line-height: 1em;
  font-weight: 600;
}


.he-ps-logo {
  position: fixed;
  fill: var(--white);
  top: var(--nav-offset-y);
  left: var(--nav-offset-x);
  /* width: 26px; */
  opacity: 0.35;
  transition: opacity 400ms var(--ease);
  display: flex;
  align-items: center;
  padding: calc(var(--nav-padding) - 1px);
}

.he-ps-logo svg{
  width: 24px;
  height: 24px;
}

.he-ps-logo .he-nav-label{
  opacity: 0;
  transform: translateX(-20%);
  transition: transform 600ms var(--ease) , opacity 600ms  var(--ease);
}

.he-ps-logo:hover{
  opacity: 1;
}

.he-ps-logo:hover .he-nav-label{
  transform: translateX(0%);
  opacity: 1;
}