.body, body {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  background-color: #000;
  font-family: poynter-gothic-text-condense, sans-serif;
  color: var(--white);
}

.body::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
  }

#preload {
    width: 100vw;
    height: calc(100 * var(--vh, 1vh));
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #000;
  }
  
  #preload p{
    color: var(--white);
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.6em;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    opacity: var(--fnt-o);
    transition: opacity 1s var(--ease) 0.1s;
    height: 20px;
    line-height: 20px;
  }

  #preload .slow-network{
    opacity: var(--slow-o);
  }
  
  .preload-lottie {
    width: 48px;
    height: 154px;
  }
  
  .preload-svg {
    position: absolute;
    fill: var(--white);
    width: 48px;
    height: 154px;
  }
  
  
  .he-fade {
    opacity: 1;
    animation: fadeIn 1s infinite alternate;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
  