.body,
body {
  color: var(--white);
}

.he-title.article {
  margin-left: calc(var(--content-padding-x) / -4);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

p {
  text-shadow: none;
}

.he-article-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 15;
  /* display: none; */
  overflow: hidden;
  width: 100%;
  height: calc(100 * var(--vh, 1vh));
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /* border-style: solid; */
  /* border-width: 1px;
  border-color: var(--white); */
  background-color: #000;
  color: var(--white);
}

.he-article-intro-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  margin-bottom: var(--content-padding-y) / 3;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.he-article-intro-date {
  position: absolute;
  writing-mode: vertical-lr;
  z-index: 1 !important;
  left: calc(var(--content-padding-x) / -6);
  bottom: 0;
  display: inline-flex;
  align-items: center;
  transform: rotate(180deg);
}

.he-article-intro-date * {
  padding-right: 0;
  padding-left: 0;
  line-height: 1em;
}

.he-article-paragraph {
  position: relative;
  z-index: 10;
  font-size: var(--p-fntsize);
  line-height: 1.3em;
  font-weight: 300;
}

.he-article-paragraph.rel {
  position: relative;
}

.he-article-paragraph {
  position: relative;
  margin-bottom: 0px;
  opacity: 0.35;
  letter-spacing: 0.08em;
  max-width: 700px;
}

.he-article-h2 {
  margin-bottom: 15px;
  font-size: var(--about-title-fntsize);
  line-height: 1em;
  font-weight: 700;
}

.he-article-subtitle-wrap {
  max-width: 550px;
  margin-top: calc(13 * var(--vh, 1vh));
  margin-bottom: var(--article-space);
  padding-bottom: 15px;
  border-bottom: 1px solid hsla(0, 0%, 94.9%, 0.35);
}

.he-article-bg-images {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.he-article-body-paragraph-wrap {
  padding: var(--article-p-padding);
  color: #333333;
  background-color: var(--white);
  box-shadow: -20px 26px 55px rgba(0, 0, 0, 0.5);
  font-size: var(--p-fntsize);
  line-height: 1.2em;
  margin-bottom: var(--article-space);
}

.he-article-body-paragraph-wrap p:not(:last-child),
.he-article-body-paragraph-wrap ul:not(:last-child) {
  margin-bottom: 32px;
}

.he-article-body-paragraph-wrap li:not(:last-child) {
  margin-bottom: 1em;
}

.he-article-body-paragraph-wrap a {
  color: #333;
  font-weight: 600;
}

.he-article-body-wrap {
  margin-top: 50px;
  max-width: 700px;
  position: relative;
  display: block;
  align-self: center;
}

.he-article-modal .simplebar-content-wrapper {
  perspective: 1px;
}

.he-article-body .he-article-h2 {
  margin-bottom: var(--article-space);
}

.he-article-modal img {
  width: 100%;
  height: auto;
}

.he-bg-parallax {
  z-index: -1;
  transform: translateZ(-0.2px) scale(1.2);
}

.he-article-bg-images .he-bg-parallax:nth-child(even) {
  transform: translateZ(-0.2px) translateX(50%) scale(1.2);
}

.he-article-bg-images .he-bg-parallax:nth-child(odd) {
  transform: translateZ(-0.2px) translateX(-50%) scale(1.2);
}

.he-y-line {
  width: 1px;
  height: calc(var(--article-space) * 1.5);
  margin-bottom: var(--article-space);
  background-color: var(--white);

  align-self: center;

  opacity: 0.5;
}

.he-x-line {
  height: 1px;
  width: 5vw;
  /* margin-left: var(--article-space); */
  background-color: var(--white);

  align-self: center;
  opacity: 0.5;

  transition: transform 600ms var(--ease);
  transform-origin: left center;
}

.he-article-link {
  display: flex;
  flex-direction: row;
}

.he-article-link:hover .he-x-line {
  transform: scaleX(20);
}

.he-article-link .he-title {
  position: relative;
  /* -webkit-text-stroke: 1px var(--white);  */
  /* opacity: 0.35; */
  /* color: #00000000; */
  margin-bottom: 0px;
  margin-left: 40px;
}

.he-article-modal .he-content {
  overflow: hidden;
}

.he-nav-link-wrap {
  position: relative;
  transition: opacity 600ms var(--ease);
}

.he-cross {
  position: sticky;
  padding-top: var(--nav-offset-y);
}

#logo {
  display: none;
}

.he-project-inner-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5vh var(--content-padding-x);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.he-hero-video {
  /* padding-left: 6.25vw; */
  width: 100%;
}

.he-client-testimonial {
  width: 100%;
  display: flex;
  align-items: flex-end;
  text-align: right;
  flex-direction: column;
}
.he-client-testimonial p {
  max-width: 300px;
  opacity: 0.8;
  margin-bottom: 10px;
}
.he-client-testimonial > div {
  position: relative;
}
.he-client-testimonial img {
  left: -40px;
  top: -6px;
  width: 30px;
  position: absolute;
  opacity: 1.2;
}

.he-project-bottom-section-wrap {
  margin-top: var(--content-padding-y);
  position: relative;
  top: 0px;
  z-index: 5;
  display: block;
  overflow: auto;
  width: 100%;
  height: calc(100 * var(--vh, 1vh));
}

@media only screen and (max-device-width: 480px) {
  /* .he-article-modal .he-content {
      overflow: hidden;
      padding: calc(var(--content-padding-y) + 68px) calc(var(--content-padding-x) / 2);
  }

  .he-article-modal .simplebar-track.simplebar-vertical {
      right: 0;
      width: calc(var(--content-padding-x) / 2);
  }
  */
  .he-hero-video video {
    /* padding-left: 6.25vw; */
    width: 80vw;
  }

  .he-article-bg-images .he-bg-parallax:nth-child(even) {
    transform: translateZ(-0.2px) translateX(10%) scale(1.2);
  }

  .he-article-bg-images .he-bg-parallax:nth-child(odd) {
    transform: translateZ(-0.2px) translateX(-10%) scale(1.2);
  }

  .he-client-testimonial img {
    left: 0;
  }

  .he-cross {
    left: calc(var(--nav-offset-x) + 7.5px);
    top: calc(var(--nav-offset-y) + 12px);
  }

  .he-cross svg {
    width: 30px;
  }
}
