.simplebar-scrollbar{
    opacity: 1;
}

.simplebar-scrollbar:before {
    display: none;
}

.simplebar-scrollbar:after{
    position: absolute;
    content: '';
    width: 1px;
    left: 15px;
    height: 100%;
    background-color: #f2f2f2;
}

.simplebar-track.simplebar-vertical:before{
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    left: 15px;
    background-color: #f2f2f2;
    opacity: 0.35;
}

.simplebar-track.simplebar-vertical{
    cursor: pointer;
    width:31px;
    height: 150px;
    opacity: 0.35;
    right: 58px;
    bottom: 64px;
    top: auto;
    opacity: 1;
    pointer-events: all;
}