a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: var(--white);
}

.he-sub-title {
  font-weight: 900 !important;
}

.he-drop-spacer {
  transition: transform 0.3s ease-out;
  transform-origin: center left;
  transform: scaleX(1);
}

.he-drop-link:hover .he-drop-spacer {
  transform: scaleX(3);
}

.he-canvas {
  width: 100%;
  height: calc(100 * var(--vh, 1vh));
  overflow: hidden;
}

.he-canvas canvas {
  position: relative;
  pointer-events: none;
}
#canvas-visor {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 9;
}

.about-overflow {
  overflow: hidden;
  width: 100vw;
  height: calc(100 * var(--vh, 1vh));
  position: fixed;
  right: 0;
  top: 0px;
}

#home-wrap .he-section {
  margin-top: calc(-150 * var(--vh, 1vh));
}
#canvas-about {
  width: var(--about-cvs-w);
  left: 0;
  filter: brightness(var(--cvs-bright));
}

#canvas-projects {
  left: 0;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  opacity: 0;
  margin-top: calc(-150 * var(--vh, 1vh));
}

.he-intro-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100 * var(--vh, 1vh));
  padding: var(--content-padding-y) var(--content-padding-x);
}

.he-intro-wrap p {
  margin-bottom: 15px;
  text-align: center;
  font-size: var(--intro-title-fntsize);
  letter-spacing: 0.08em;
  line-height: 1em;
  font-weight: 600;
}

.he-intro-wrap .he-intro-subtitle{
  position: relative;
    display: inline-block;
    opacity: 0.35;
    padding-top: 0.5em;
    font-size: var(--detail-fntsize);
    line-height: 1em;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.he-call {
  position: absolute;
  top: var(--nav-offset-y);
  left: var(--nav-offset-x);
  padding-left: var(--nav-padding);
  line-height: 1.3em;
  z-index: 100;
}

.he-call a,
.he-call p,
.he-video-caption a {
  position: relative;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.2em;
}

a .line {
  position: absolute;
  width: 100%;
  transform-origin: left center;
  transform: translateX(-5%) scaleX(0);
  transition: transform 400ms var(--ease);
  height: 1px;
  background-color: var(--white);
}

a:hover .line {
  transform: translateX(-5%) scaleX(1.1);
}

.he-click-proj {
  bottom: var(--content-padding-y);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.2em;
  padding-top: calc(var(--proj-fntsize) * 0.2);
  padding-right: calc(var(--proj-fntsize) * 0.2);
}

.he-cursor {
  width: 40px;
  height: 40px;
  left: -20px;
  top: -20px;
  z-index: 10000;
  position: fixed;
  pointer-events: none;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: width 600ms var(--ease), height 600ms var(--ease),
    left 600ms var(--ease), top 600ms var(--ease);
}

.he-cursor.hovering {
  width: 8px;
  height: 8px;
  left: -4px;
  top: -4px;
}

.he-chevron-wrap {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  padding-bottom: var(--nav-offset-y);
  fill: var(--white);
  justify-content: center;
  align-items: flex-end;

  white-space: nowrap;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.he-chevron-wrap a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0.35;
  cursor: pointer;
}

.he-chevron-wrap p {
  margin-bottom: 0px;
}

.he-gallery-wrap {
  position: relative;
  width: 100%;
}

.he-centraline {
  position: absolute;
  height: 1px;
  background-color: var(--white);
  width: calc(100% + 40px);
  transition: transform 400ms var(--ease);
  transform: scaleX(0);
}

.he-about-link:hover .he-centraline {
  transform: scaleX(1);
}

.he-about-link {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
  text-align: center;
}
.he-about-link .he-title {
  position: relative;
  margin-bottom: 0;
}

.he-gallery-wrap {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--img-w), 1fr));
  padding-top: var(--content-padding-y);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.he-gallery-wrap div::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (16 / 9));
}

.he-gallery-wrap div {
  position: relative;
}

.he-gallery-wrap img {
  position: absolute;
  object-fit: cover;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}

.he-home-section {
  position: relative;
}

.he-to-top {
  fill: var(--white);
  opacity: 0.35;
  transition: opacity 400ms var(--ease), transform 400ms var(--ease);
  align-self: center;
}

.he-to-top:hover {
  opacity: 1;
}

.he-video-caption.desk {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 600ms;
}

.he-video-caption.hovering {
  opacity: 0;
}

.he-video-modal .he-content-flex {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 30%,
    rgba(0, 0, 0, 0) 50%
  );
}

.he-about-p {
  position: absolute;
}
.he-paragraph {
  font-weight: 100;
  margin-bottom: 0px;
  opacity: 0.6;
  letter-spacing: 0.08em;
}

a:hover .he-paragraph{
  opacity: 1;
}

.he-about-p a {
  margin-top: 15px;
}

.he-about-intro a {
  margin-top: 15px;
}

.date-hide {
  display: none;
}

/* 2022 updates */

#hamburger{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  pointer-events: all;
  cursor: pointer;
  align-self: center;
  margin-top: -22px;
}

.hamburger-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  pointer-events: all;
  height: 25px;
  gap: 3px;
  width: 35px;
  padding: 0 10px;
  opacity: 0.35;
  transition: opacity 300ms;
  z-index: 1001;
  cursor: pointer;
  transition: all 400ms;
}

#hamburger:hover .hamburger-wrapper{
  opacity: 1;
}

#hamburger:hover .hamburger-line:nth-child(2) {
  height: 30%;
}

.hamburger-line {
  height: 100%;
  width: 6px;
  background-color: var(--white);
  transition: height 300ms;
}

.hamburger-clicked {
  gap: 0px;
  width: 28px;
  transform: rotate(90deg);
}

#hamburger:hover .hamburger-clicked .hamburger-line:nth-child(2) {
  height: 100%;
}

.he-nav-wrapper {
  position: fixed;
  left: 0;
  top: -100vh;
  z-index: 1000;
  width: 100vw;
  height: calc(100 * var(--vh, 1vh));
  padding: var(--content-padding-y) var(--content-padding-x);

  background-color: rgb(0, 0, 0);
  display: flex;
  gap: 2rem;
  flex-direction: column;
  transition: top 800ms;
}

.nav-show {
  top: 0vh;
}

.he-nav-wrapper .he-title {
  position: relative;
}

.nav-menu-item {
  position: relative;
  cursor: pointer;
  pointer-events: all;
  opacity: 0.35;
  transition: opacity 400ms;
}

.nav-item {
  font-family: poynter-gothic-text-condense, sans-serif;
  font-size: var(--title-fntsize);
  line-height: 1em;
  font-weight: 800;
  letter-spacing: calc(var(--title-fntsize) * 0.1);
  margin-right: calc(var(--title-fntsize) * -0.1);
  text-transform: uppercase;
  display: inline;
}

.superscript {
  position: absolute;
  top: 0;
  margin-left: 10px;
  display: inline-block;
  opacity: 0;
  font-size: var(--about-title-fntsize);
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: opacity 400ms;
  transition: top 300ms;
}

.nav-menu-item:hover {
  opacity: 1;
}
.nav-menu-item:hover .superscript {
  top: -10px;
  opacity: 1;
}

.z-index-0 {
  z-index: 0;
}

/* SERVICES */

.he-services {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(var(--service-w), 1fr)); */
}

.he-services > * {
  flex-basis: 33.33%;
}

@media only screen and (max-device-width: 1200px) {
  .he-services > * {
    flex-basis: 50%;
  }
}

@media only screen and (max-device-width: 821px) {
  .he-services > * {
    flex-basis: 100%;
  }
}



.he-services-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.he-services-title {
  position: relative;
}

.he-services-buttons {
  display: flex;
}
.he-services-title-link {
  position: relative;
  display: block;
  padding: var(--nav-padding);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 1px solid transparent;
  -webkit-transition: border-color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  color: hsla(0, 0%, 94.9%, 0.35);
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.6em;
  text-decoration: none;
  text-transform: uppercase;
}

.with-border {
  /* color: var(--white); */
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 94.9%, 0.35);
}

.he-services-title-link:hover {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 94.9%, 0.35);
  color: var(--white);
}

.he-services-number {
  font-weight: 200;
  margin-right: 10px;
}

.he-services-name {
  font-weight: 400;
  text-transform: uppercase;
}
.he-services-descp {
  font-weight: 100;
  position: relative;
  margin-bottom: 0px;
  padding-top: 10px;
  opacity: 0.6;
  letter-spacing: 0.08em;
}

/* PROJECTS */
.he-projects-gallery-wrap {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--img-w), 1fr));
  padding-top: 40px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.he-projects-gallery-wrap div::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (16 / 9));
}

.he-projects-gallery-wrap div {
  position: relative;
}

.he-projects-gallery-wrap img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 300ms;
  filter: grayscale(1);
}

.he-projects-wrap {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 140px;
  padding: 15px;
  /* max-height: 350px; */
}

.he-projects-wrap img{
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: 0%;
}

.he-projects-title {
  position: relative;
  text-transform: uppercase;
  font-size: var(--about-title-fntsize);
  font-weight: 700;
  opacity: 0;
  transition: opacity 200ms;
  margin-top: 30px;
  width: 100%;
}

.he-projects-wrap:hover {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 94.9%, 0.35);
  color: var(--white);
}

.he-projects-wrap:hover img {
  filter: grayscale(0);
}

.he-projects-wrap:hover p {
  opacity: 1;
}

/* .clients-logos-carousel {
  animation: scroll 10s linear infinite;
  display: flex;
  width: 100%;
  max-width: var(--about-title-w);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
} */

.clients-logos-carousel {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: row;
}

.he-psychoactive-link {
  position: absolute;
  padding-right: 10px;
  right: var(--nav-offset-x);
  bottom: var(--nav-offset-y);
  -webkit-transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  color: hsla(0, 0%, 94.9%, 0.35);
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
}

.he-psychoactive-link:hover {
  color: white;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before {
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.slider::after {
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.slider-wrap {
  display: flex;
  width: 300%;
  height: 100%;
}
.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 105px;
}
.slide {
  width: auto;
  height: 100%;
  text-align: center;
  animation: scroll 8s linear infinite;
}

.he-center-flex {
  align-items: center;
  gap: 50px;
}

.he-bottom-contact-buttons {
  display: flex;
  gap: 40px;
}

.he-bottom-contact-buttons a{
  transition: opacity 600ms var(--ease);
}

.show-opacity {
  opacity: 1;
}
.he-projects-title-readmore {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 6px;
  color: hsla(0, 0%, 94.9%, 0.45);
  letter-spacing: 0.08em;
}

.he-social-wrap {
  transition: opacity 600ms var(--ease);
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.he-social-wrap:hover {
  opacity: 1;
}

.he-contact-label {
  position: relative;
  font-size: var(--detail-fntsize);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: auto;
}

.he-social-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}

.contact-content-wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.copied-text {
  margin-left: 10px;
  opacity: 0;
}

.copied-text-show {
  opacity: 1;
}

#explore-text {
  cursor: pointer;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

@media only screen and (max-device-width: 768px) {
  .he-nav-wrapper {
    padding-top: 15vh;
  }
  .slider {
    height: 50px;
  }
  .slide-image {
    min-height: auto;
  }
  .he-projects-title {
    opacity: 1;
    margin-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .he-projects-title-readmore {
    justify-content: space-between;
  }
  .he-projects-gallery-wrap img {
    filter: grayscale(0);
  }
  .he-projects-wrap {
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 94.9%, 0.35);
    padding: 10px;
  }
  .he-projects-title-readmore {
    writing-mode: vertical-rl;
    margin: 0px;
    font-size: 10px;
    right: -20px;
    top: 0px;
  }
}
